/* 背景固定 */
body {
  margin: 0;
  background-image: url("img/bg-pc.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Shippori Mincho", serif;
  font-weight: 400;
  font-style: normal;

}


/* コンテンツ全体 */
.content {
  width: 100%;
  margin: 0 auto;
  padding: 60px 0;
}
.title-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
  padding: 40px 0;
}

.content {
  padding-top: 120px; /* タイトルの高さと同じくらい */
}
/* 各画像を画面幅に合わせて拡大 / 縮小 */
.section-img {
  display: block;
  width: 100%;        /* 横幅いっぱい */
  height: auto;       /* 比率維持で自動 */
  margin: 90px 0;     /* 画像同士の距離 */
}

/* タイトルが粘る高さ（＝sticky が効き続ける範囲） */
.title-wrap {
  height: 200vh;   /* ←ここを調整。大きいほど粘る */
  position: relative;
}

/* sticky で上に張り付く */
.title-img {
  position: sticky;
  padding-top:20px;
  display: block;
  height: 95vh;
  width: auto;
  object-fit: contain;
  transform: translate(30px, -40px); /* 必要なら微調整 */
  z-index: 10;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("img/bg-pc.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1; /* コンテンツの後ろに配置 */
}

.section {
  position: relative;
  width: 100%;
}

.concept-pc{
padding-top: 45%;
margin-bottom:-2%;

}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between; /* 左右に分ける */
  align-items: flex-start;
  padding: 30px;
  box-sizing: border-box;

  line-height: 1.15;
}

.overlay-title {
  color: white;
  font-size: 1.6rem;
  text-align: left;  /* 右側に揃える */
  flex: 1;
  margin-left: 350px;
    margin-top: 0.8%;
}

.overlay-left {
        margin-top: 0%;
      font-size: 0.85rem;
      color: white;
  flex: 1;
  text-align: left;  /* 左揃え */
    margin-left: -690px;
}

.overlay-left img {
  max-width: 100%;
  height: auto;
    margin-top: 0%;
      margin-left: 0%;
        width: 59%;
  height:auto;
}

/* 左下に固定表示されるキャッチコピー */
.catchcopy {
  position: fixed;
  right: 90px;     /* 画面左からの距離（調整OK） */
  bottom: 70px;   /* 画面下からの距離（調整OK） */
  width: 30px; 
height: auto;
  z-index: 9999;  /* 最前面に固定 */
  pointer-events: none; /* クリックを邪魔しない（必要なら消してOK） */
}