/* 背景固定 */
body {
  margin: 0;
  background-image: url("img/bg-pc.jpg"); /* デフォルトはPC */
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Shippori Mincho", serif;
  font-weight: 400;
  font-style: normal;
}

/* 背景切替：スマホ */
@media screen and (max-width: 700px) {
  body {
    background-image: url("img/bg-se.jpg");
  }
}

/* コンテンツ全体 */
.content {
  width: 100%;
  margin: 0 auto;
  padding: 120px 0; /* ヘッダーの高さ分 */
}

/* タイトル固定 */
.title-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
  padding: 40px 0;
}

.title-img {
  position: fixed;
  top: 30px;
  left: 0;
  padding-top: 20px;
  display: block;
  height: 91vh;
  width: auto;
  object-fit: contain;
  transform: translate(30px, -40px); 
  z-index: 50;
}

/* 各画像 */
.section-img {
  display: block;
  width: 100%;
  height: auto;
  margin: 90px 0;
}

.concept-pc {
  padding-top: 45%;
  margin-bottom:-2%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px;
  box-sizing: border-box;
  line-height: 1.15;
}

.overlay-title {
  color: white;
  font-size: 1.6rem;
  text-align: left;
  flex: 1;
  margin-left: 350px;
  margin-top: 0.8%;
}

.overlay-left {
  margin-top: 0%;
  font-size: 0.85rem;
  color: white;
  flex: 1;
  text-align: left;
  margin-left: -690px;
}

.overlay-left img {
  max-width: 100%;
  height: auto;
  width: 59%;
}

/* 左下に固定表示されるキャッチコピー */
.catchcopy {
  position: fixed;
  right: 90px;
  bottom: 70px;
  width: 30px; 
  height: auto;
  z-index: 9999;
  pointer-events: none;
}

/* PC / スマホ切替（画像） */
.pc { display: block; }
.se { display: none; }

@media screen and (max-width: 700px) {
  .pc { display: none; }
  .se { display: block; }
}