html {
    scroll-behavior: smooth;
    overflow-x: hidden; /* ????????? */
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
}

.modal-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

p {

}

@keyframes fadeOut {
    from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.modal-fade-out {
  animation: fadeOut 0.8s forwards;
}

#wrapper {
  width: 100%;
  position: relative;
}

.main-visual {
    width: 100%;
    transition: transform 0.1s ease-out;
    position: absolute;
    z-index: -20;
}

.pc {
  display: block;
}

.sp {
  display: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* ?????????????? */
.fade-in {
  animation: fadeIn 2s ease-in-out forwards;
}

.description {
width:40%;
}

.ADDescription {
    width: 88%;
}
#Title-image {
  position: absolute;
  margin-top:2%;
  left: 2.4%;
  width: 38%;
  z-index: 10;
  opacity: 0;
}

#concept {
  position: absolute;
  top: 3%;
  right: 14.5%;
  width: 28.5%;
  z-index: 20;
  opacity: 0;
}

#conceptText{
width:45%;
margin-top:65%;
}
#balloon {
  position: absolute;
  transform: translate(-50%, -40%);
  left: 34%;
  top: 45%;
  width: 5%;
  z-index: 20;
}

#wind03 {
    position: absolute;
    width: 100%;
    z-index: -10;
    top: 25.5%;
    transition: transform 0.1s ease-out; /* ????????????? */
}
#wind-ws {
    position: absolute;
    width: 100%;
    z-index: -10;
    top: 42%;
    transition: transform 0.1s ease-out; /* ????????????? */
}

#wind-ad {
    position: absolute;
    width: 100%;
    z-index: -10;
    top: 58%;
    transition: transform 0.1s ease-out; /* ????????????? */
}

#wind-ev {
    position: absolute;
    width: 100%;
    z-index: -10;
    top: 75%;
    transition: transform 0.1s ease-out; /* ????????????? */
}


#wind-mv {
    position: absolute;
    width: 100%;
    z-index: -10;
    top: 88%;
    transition: transform 0.1s ease-out; /* ????????????? */
}


.exhibition {
    margin-bottom: 10%; /* ??????40????????? */
    padding-top: 18%; /* ????????? */
}
#ex-tx {
    width: 40%;
    margin-bottom: 2%;
    transform: translate(-5%,0%);
}
.ex-link{

}
.class-link {

}

#ws-tx {
    width: 30%;
    transform: translate(-5%,0%);
}

#ws-photo {
    width: 80%;
}
.workshop {
    margin-top:20%;
    margin-bottom: 10%; /* ??????40????????? */
}
.ws-link {
    margin-top: 16%;
}


.advice {
    margin-top:20%;
}
.advices {
    display: flex;
    justify-content: center;
    margin-top:-7%;
}


#ad-tx {
    width: 40%;
    transform: translate(-5%, 0%);
}
#ad-photo-01 {
    width:90%;
}
#ad-photo-02 {
    width: 90%;
}
.ad-teacher {
    position: relative;
    margin: 5%;
    margin-bottom: 20%;
    width: 500px;
}
.ad-student {
    position: relative;
    margin: 5%;
    margin-bottom: 20%;
    width: 500px;
}

.linkBlock {
    position: absolute;
    right: 8%;
    margin-top:-3%;
}
.linkIcon {
    transform: translate(0%, 20%);
}



.schedule {
    margin-bottom: 20%;
}
#ev-tx {
    width: 40%;
}

.schedules {

}
#sh713 {
    width: 450px;
    margin: 1%;
    transform: translate(-1%, 0%);
}
#sh714 {
    width: 450px;
    margin: 1%;
}

#mv-tx {
    width: 40%;
}
.round-box {
    background-color: #ffff; /* ???????? */
    border-radius: 15px; /* ??????????? */
    padding: 20px; /* ????? */
    max-width: 85%; /* ?????? */
    max-height: 10%;
    text-align: center; /* ????????? */
    position: relative;
    margin-bottom: 20%;
}

#chara1 {
    position: absolute;
    top: -49%;
    right:70%;
    max-width: 40%;
}

#chara2 {
    position: absolute;
    top:72%;
    left: 70%;
    width: 30%;
}

.youtubeLink {
    display: flex;
    justify-content: center;
}
.mvBlock{
    margin:2.8%;
    width:40%;
    margin-bottom:3%;
    margin-top:3%;
}
.teaser-video {
    margin-top:2%;
    width: 100%;
    aspect-ratio: 16 / 9;
 
}
.class-video {
    margin-top: 2%;
    width: 100%;
    aspect-ratio: 16 / 9;
}

h3 {
    font-size: 24px;
    margin-top: 2%;
    margin-bottom: 0%;
    font-family: "source-han-sans-cjk-ja", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: rgb(0, 158, 189);
}
p2 {
    text-indent: 1em;
    font-family: "a-otf-ud-shin-go-pr6n", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: rgb(0, 158, 189);
    margin-bottom: 10%;
}

p3 {
    font-family: "a-otf-ud-shin-go-pr6n", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-bottom: 10%;
    font-size:24px;
}

.footer {

    bottom: 2%;
}


#name-image {
    width: 20%;
    z-index: 20;
}

.sns {
    z-index: 20;
    margin: 0.6%;
    margin-top: -1.6%;
}

.instagram {
    width: 2.8%;
}

.X {
    width: 2.8%;
}

.youtube {
    width: 3.5%;
}

.instagram:hover {
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.X:hover {
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.youtube:hover {
    opacity: 0.7;
    transition: opacity 0.3s ease;
}


@media screen and (max-width: 962px) {

    #wind-ws {
        margin-top: -15%;
    }
    #wind-ad {
        margin-top: -15%;
    }
    #conceptText {
        width: 80%;
        margin-top: 65%;
    }

    .description {
        width: 60%;
    }

    .ADDescription {
        width: 88%;
    }
    .instagram {
        width: 4.8%;
    }

    .X {
        width: 4.8%;
    }

    .youtube {
        width: 5.5%;
        transform: translate(0%, -10%);
    }

}


    @media screen and (max-width: 700px) {
        .close-button {
            top: -45px;
            right: 10px;
        }

        .pc {
            display: none;
        }

        .sp {
            display: block;
        }

        #Title-image {
            width: 64%;
            top: 10.6%;
        }

        #concept {
            width: 40%;
            left: 48%;
            top: 1.3%;
        }

        #balloon {
            left: 20%;
            top: 50%;
            width: 8%;
        }

        .advices {
            display: block;
        }

        #conceptText {
            padding-top: 120%;
            width: 90%;
        }


        #wind03 {
            padding-top: 10%;
        }

        #wind-ws {
            margin-top: -40%;
        }

        #wind-ad {
            margin-top: -70%;
        }

        #wind-ev {
        }


        #wind-mv {
        }


        .exhibition {
            padding-top: 30%;
        }

        #ex-tx {
            width: 80%;
            transform: translate(0%, 0%);
        }

        .ex-link {
        }

        #ws-tx {
            width: 64%;
        }

        #ws-photo {
        }

        .workshop {
            padding-top: 25%;
        }

        .ws-link {
            padding-top: 5%;
        }


        .advice {
            padding-top: 30%;
        }

        #ad-tx {
            width: 75%;
        }

        #ad-photo-01 {
            width: 100%;
        }

        #ad-photo-02 {
            width: 100%;
        }

        .ad-teacher {
            width: 70%;
        }

        .ad-student {
            width: 70%;
        }


        .linkBlock {
            font-size: 13px;
        }

        .linkIcon {
            width: 20px;
        }



        .schedule {
            padding-top: 30%;
        }

        #ev-tx {
            width: 75%;
        }

        .schedules {
        }

        #sh713 {
            width: 80%;
        }

        #sh714 {
            width: 80%;
        }

        .linkBlock2 {
            font-size: 13px;
        }

        .movie {
            padding-top: 25%;
        }

        #mv-tx {
            width: 75%;
            z-index: 30;
        }

        .round-box {
        }

        #chara1 {
            top: -5%;
            width: 40%;
        }

        #chara2 {
            top: 90%;
            width: 40%;
            right: 20%;
        }


        .mvBlock {
            width: 90%;
            margin: 0 auto;
            margin-bottom: 10%;
        }

        .teaser-video {
        }

        .class-video {
        }

        .youtubeLink {
            display: block;
            align-items: center;
        }



        h3 {
            margin-top: 0%;
            margin-bottom: 0%;
            font-size: 20px;
            font-family: "source-han-sans-cjk-ja", sans-serif;
            font-weight: 700;
            font-style: normal;
            color: rgb(0, 158, 189);
        }

        p2 {
            text-indent: 1em;
            font-family: "a-otf-ud-shin-go-pr6n", sans-serif;
            font-weight: 300;
            font-style: normal;
            color: rgb(0, 158, 189);
            font-size: 14px;
        }

        p {
            font-size: 14px;
        }



        .instagram {
            position: absolute;
            bottom: 0.3%;
            right: 22%;
            width: 7%;
        }

        .X {
            position: absolute;
            bottom: 0.3%;
            right: 12.9%;
            width: 7%;
        }

        .youtube {
            position: absolute;
            bottom: 0.3%;
            right: 3%;
            width: 8%;
            transform: translate(0%, -10%);
        }

        #name-image {
            left: 82%;
            margin-top: 5%;
            width: 30%;
            margin-bottom: 1%;
        }

        .description {
            width: 80%;
        }

        .ADDescription {
            width: 90%;
        }
    }
